<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>Nodepop</title>
</head>

<body>
    <header>
        <h1 class="header">
            <%= title %>
        </h1>
    </header>
    <main>
        <h1 class="title">Listado de artículos</h1>
        <div class="container">
            <% db.forEach(db => { %>
            <div class="listing">
                <h2 class="name"><%= db.name %></h2>
                <p><% if (db.forSale) { %>
                    <span class="sale">Se vende</span>
                <% } else { %>
                    <span class="demand">Se busca</span></p>
                <% } %>
                <p class="price"><%= db.price %> €</p>
                <div class="img-container"><img src="./images/<%= db.photo %>" alt="<%= db.photo %>"></div>
                <p><% db.tags.forEach(tag => { %>
                    <span class="tag"><%=tag %></span>
                    <% }) %></p>
            </div>
            <% }) %>
        </div>
    </main>
</body>

</html>
