<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>Nodepop</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <ul class="menu">
                <li class="menu-item"><%= __('Languages') %></li>
                <% getLocales().forEach( locale => { %>
                <li class="menu-item"><a href="/change-lang/<%= locale %>"><img class="flag" src="./images/<%= locale %>.png" alt="" srcset=""></a></li>
                <% } ) %>
            </ul>
        </nav>
        <h1 class="header">
            <%= title %>
        </h1>
        <p class="subheader"><%= __('The best app to find all that you want and need!') %></p>
    </header>
    <main>
        <h1 class="title"><%= __('Listings') %></h1>
        <div class="container">
            <% db.forEach(db => { %>
            <div class="listing">
                <h2 class="name"><%= db.name %></h2>
                <p><% if (db.forSale) { %>
                    <span class="sale"><%= __('For sale') %></span>
                    <% } else { %>
                    <span class="demand"><%= __('For buy') %></span></p>
                <% } %>
                <p class="price"><%= db.price %> €</p>
                <div class="img-container"><img src="./images/<%= db.photo %>" alt="<%= db.photo %>"></div>
                <p><% db.tags.forEach(tag => { %>
                    <span class="tag"><%=__(tag) %></span>
                    <% }) %></p>
            </div>
            <% }) %>
        </div>
    </main>
</body>

</html>